%p#notice= notice

%p
  %b Name:
  = @parkinghouse.name
%p
  %b Address:
  = @parkinghouse.address
%p
  %b Description:
  = @parkinghouse.description
%p
  %b Image:
  = link_to @parkinghouse.image.url do
    =image_tag @parkinghouse.image.url(:thumbnail)
%h3 Komment:
=render partial: 'parkinghouses/comment', collection: @parkinghouse.comments

=render partial: 'parkinghouses/car', collection: @parkinghouse.cars

=render partial: 'cars/form'

=render partial: 'comments/form' if user_signed_in?


= link_to 'Edit', edit_parkinghouse_path(@parkinghouse)
\|
= link_to 'Back', parkinghouses_path
